<div id="<%= dom_id folder %>"
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="col-6 col-sm-4 gap-1">
      <div>
        <h4><%= folder.name %></h4>
      </div>

      <div>
        Last updated: <%= time_ago_in_words(folder.updated_at) %> ago
      </div>
    </div>

    <div class="col-4 col-sm-4 col-md-4">
      <% if folder.default_version %>
        <%= render "folders/default_version_link", version: folder.default_version %>
      <% else %>
        <p class="fst-italic">No default version assigned.</p>
      <% end %>
    </div>
    
    <div class="col-2">
      <div class="badge text-bg-success rounded-pill">
        <%= folder.versions_count %> versions
      </div>

      <div>
        <%= link_to "Show details", folder %>
      </div>
    </div>
    
  </li>
</div>
