<h1>New version</h1>

<div>
  <%= link_to "Back to all versions", folder_path(params[:folder_id]) %>
</div>

<%= form_with url: versions_path, method: :post, scope: :version do |form| %>
  
  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div>
    <%= form.hidden_field :folder_id, value: params[:folder_id] %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.file_field :link %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary m-3" %>
  </div>
<% end %>
