<!DOCTYPE html>
<html>
  <head>
    <title>ManaVer</title>
    <%= favicon_link_tag 'manaver_logo.svg', type: 'image/svg+xml' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "shared/cdn_assets" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <%= render "shared/navbar" %>
    
    <div class="container-fluid", style="min-height: 80vh;">
      <%= yield %>
    </div>

    <%= render "shared/footer" %>
  </body>
</html>
